.fourth-section {
    background-image: url(../img/third-section-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 5rem 0;
    display: flex;
    justify-content: center;

}

#waiting-icon {
    display: none;
    width: 24px;
    height: 24px;
    border: 4px solid transparent;
    border-top: 4px solid #007BFF; 
    border-right: 4px solid #007BFF; 
    border-bottom: 4px solid #007BFF; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 2rem;
    margin-top: 0.12rem;
}

.button-container {
    display: inline-flex;
    margin-top: 30px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
}

.overlay2 {
    border-image-source: linear-gradient(#dcdcdc 0%, #beb4b48d 60%);
    border-image-slice: fill 1;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 1065px;
    padding: 50px 20px; 
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-text {
    flex: 6;
    padding-left: 3rem;
}

.contact-text-first-p {
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}
 
.contact-text-second-p {
    color: #474747;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.contact-form {
    flex: 4;
    padding-left: 40px;
    padding-right: 4rem;
    position: relative;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #474747;
    font-family: RobotoMedium;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 60px;
    margin-bottom: 20px;
}

.contact-form input[type="submit"] {
    font-family: RobotoMedium;
    width: 150px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    transform: scale(0.92);
}

.contact-form textarea {
    resize: none;
}

.mail-form {
    color: #474747;
    margin-bottom: 1rem;
}

.mail-form2 {
    color: #474747;
    margin-bottom: 1rem;
}

.form-response {
    color: #474747;
    font-family: RobotoMedium;
    margin-bottom: 0rem;
    position: absolute;
}

@media (max-width: 1200px) {

    .contact-text-first-p {
        margin-top: 1.2rem;
        font-size: clamp(1.3rem, 3.8vw, 3rem);
        margin-bottom: 2.5rem;
    }

    .contact-container {
        margin: 0 5.4vw;
    }

    .contact-text-second-p {
        margin-right: 4rem;
    }
}

@media (max-width: 760px) {

    .contact-form {
        flex: 4;
        padding-left: 20px;
        padding-right: 2.4rem;
    }

    .contact-text {
        flex: 6;
        padding-left: 20px;
    }

    .contact-container {
        flex-direction: column;
        margin: 0 10vw;
    }

    .contact-text-first-p {
        margin-bottom: 1rem;
        font-size: clamp(1.3rem, 5.5vw, 3rem); 
    }

    .contact-text-second-p {
        padding-right: 40px;
        margin-right: 0rem;
        font-size: clamp(0.8rem, 2.7vw, 1.1rem);
    }
    
}

@media (max-width: 440px) {
    .contact-text-second-p {
        padding-right: 20px;
    }

    .contact-form {
        padding-right: 0;
        padding-left: 0;
    }

    .contact-form input,
    .contact-form textarea {
        padding-right: 0;
        padding-left: 0;
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
        margin-bottom: 4rem;
        width: 1065px;
        padding: 15px 20px; 
        background-color: #f4f4f4;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-text {
        padding-left: 0;
    }
}