

@media (max-width: 507px) {
    .overlay {
        border-image-source: linear-gradient(#dcdcdcb8, #dcdcdcca);
        border-image-slice: fill 1;
    }

    .hero-section-div {
        background:url(../img/hero-section-imagee.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content:space-between;
    }

    .hero-section-div-elements {
        margin-top: 24vh;
        margin-bottom: 22vh;
        padding: 0 10vw; 
    }
    
    .hero-section-div-p-mobile-container {
        padding-right: 2rem;
    }

    .hero-section-div-p-notebooks {
        display: none;
    }

    .hero-section-div-p {
        color: var(--text-color);
        font-weight: 900;
        font-size:  12vw;
        text-align: left;
        margin-top: 5rem;
    }
    
    .hero-section-div-p-mobile {
        margin-top: 0.9rem; 
        text-align: start;
        color: var(--text-color);
        font-size: clamp(0.4rem, 2.5vw, 50rem);
        font-family: RobotoMedium;
        padding-right: 2rem;
    }
    
    .hero-section-div-p-tablet {
        margin-top: 0.6rem; 
        text-align: start;
        display: none;
        color: var(--text-color);
        font-size: clamp(1rem, 1vw, 3rem);
    }

    .hero-section-div-p-third {
        font-size: clamp(0.4rem, 2.5vw, 50rem);
        margin-top: 1.5rem; 
        font-family: RobotoMedium;
    }
    
    .hero-section-div-button-container {
        margin-top: 1.5rem;
    }

    .hero-section-div-button {
        background-color: var(--second-color);
        color: rgb(255, 255, 255);
        font-family: MyNunito, sans-serif;
        font-size: clamp(0.6rem, 2.5vw, 50rem);
        font-weight: 700;
        font-style: normal;
        padding: 0.8vh 1.2rem;
        line-height: 20px;
        border-radius: 4px;
        border: none;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button:active {
        transform: scale(0.92);
    }

    .hero-section-div-button2 {
        background-color: var(--general-background);
        color: var(--text-color);
        font-family: MyNunito, sans-serif;
        font-size: clamp(0.6rem, 2.5vw, 50rem);
        font-weight: 700;
        font-style: normal;
        padding: 0.7vh 1.0rem;
        line-height: 20px;
        border-radius: 4px;
        border: 3px solid;
        border-color: var(--second-color);
        margin-left: 0.5rem;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button2:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button2:active {
        transform: scale(0.92);
    }

    .hero-section-div-image {
        display: none;
    }

    .hero-section-div-amount-p {
        display: none;
    }
    
    .hero-section-div-amount-p-engineers {
        display: none;
    }

}

@media (507px <= width <= 760px)   {

    .hero-section-div {
        min-block-size: 90vh;
        background:url(../img/hero-section-image2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-between;
    }

    .overlay {
        border-image-source: linear-gradient(#dcdcdcb8, #dcdcdcca);
        border-image-slice: fill 1;
    }

    .hero-section-div-elements {
        margin-top: 30vh;
        margin-left: 10vw;
    }

    .hero-section-div-button-container {
        width: 100%;
    }
    
    .hero-section-div-p-notebooks {
        display: none;
    }

    .hero-section-div-button-container {
        margin-top: 2rem;
        margin-right: 9rem;
    }

    .hero-section-div-button {
        background-color: var(--second-color);
        color: rgb(255, 255, 255);
        font-family: MyNunito, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        font-style: normal;
        padding: 0.8rem 1.6rem;
        line-height: 20px;
        border-radius: 4px;
        text-decoration: none;
        border: none;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button:active {
        transform: scale(0.92);
    }
    
    .hero-section-div-button2 {
        background-color: var(--general-background);
        color: #222220;
        font-family: MyNunito, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        font-style: normal;
        padding: 0.7rem 1.2rem;
        line-height: 20px;
        border-radius: 4px;
        border: 3px solid;
        border-color: var(--second-color);
        margin-left: 0.5rem;
        text-decoration: none;
        transition: transform 0.2s ease;
        outline: none;
 
    }

    .hero-section-div-button2:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button2:active {
        transform: scale(0.92);
    }

    .hero-section-div-p {
        color: var(--text-color);
        font-size: 12vw;
        font-weight: 900;
        text-align: left;
        color: var(--text-color);
    }

    .hero-section-div-p-mobile {
        
        margin-top: 0.6rem; 
        text-align: start;
        margin-right: 1.2rem;
        display: none;
        color: var(--text-color);
    }

    .hero-section-div-p-tablet {
        font-size: 0.8rem;  
        width: 100%;
        margin-top: 1.2rem; 
        text-align: left;
        font-family: RobotoMedium;
   
    }

    .hero-section-div-p-third {
        font-size: 0.8rem;
        margin-top: 2rem; 
        font-family: RobotoMedium;
    }
    
    .hero-section-div-image {
        display: none;
    }

    .hero-section-div-amount-p {
        display: none;
    }
    
    .hero-section-div-amount-p-engineers {
        display: none;
    }
}

@media (760px < width <= 1200px) {

    .my-main {
        padding-bottom: 10vh;
    }

    .hero-section-div { 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;    
        margin-top: 4.3rem;
    }

    .hero-section-div-p {
        color: var(--second-color);
        font-weight: 900;
        font-size: clamp(1rem, 7vw, 5.5rem);
        text-align: left; 
    }

    .hero-section-div-elements {
        margin-left: 4.9vw;
    }
    
    .hero-section-div-p-mobile {
        display: none;
        margin-top: 0.6rem; 
        text-align: start;
        color: var(--text-color);
        font-size: 0.9rem;
        font-family: RobotoMedium;
        padding-right: 2rem;
    }
    
    .hero-section-div-p-tablet {
        font-family: RobotoMedium;

        margin-top: 0.6rem; 
        font-size: 0.4rem;
        font-weight: 400;
        text-align: start;
        color: var(--text-color);
        font-size: clamp(1rem, 1vw, 3rem);
        display: none;
    }

    .hero-section-div-p-notebooks {
        font-family: RobotoMedium;
    
        margin-top: clamp(0.5rem, 3vw, 4rem);
        font-size: 0.8rem;
        font-weight: 100;
        text-align: start;
        color: var(--text-color);
      }

    .hero-section-div-p-third {
        font-size: 0.8rem;
        margin-top: clamp(0.5rem, 3vw, 4rem);
        font-family: RobotoMedium;
    }
    
    .hero-section-div-button-container {
        margin-top: clamp(0.5rem, 3vw, 4rem);
      
    }

    .hero-section-div-button {
        background-color: var(--second-color);
        color: rgb(255, 255, 255);
        font-family: MyNunito, sans-serif;
        font-size: 0.9rem;
        font-weight: 700;
        font-style: normal;
        padding: 1vw 1.6rem;
        line-height: 20px;
        border-radius: 4px;
        text-decoration: none;
        border: none;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button:active {
        transform: scale(0.92);
    }

    .hero-section-div-button2 {
        background-color: var(--general-background);
        color: var(--text-color);;
        font-family: MyNunito, sans-serif;
        font-size: 0.9rem;
        font-weight: 700;
        font-style: normal;
        padding: 0.8vw 2.5vw;
        line-height: 20px;
        border-radius: 4px;
        border: 3px solid;
        border-color: var(--second-color);
        margin-left: 0.5rem;
        text-decoration: none;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button2:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button2:active {
        transform: scale(0.92);
    }

    .hero-section-div-image {
        margin-top: 1.5rem;
        width: clamp(19rem, 38vw, 27rem);
        height: clamp(19rem, 38vw, 27rem);
        object-fit: contain;    
        margin-right: 4vw;
    }

    .hero-section-div-amount-p {
        font-size: 2.4rem;
        margin-left: 0.2rem;
        text-align: center;
        margin-top: 0.46rem;
        width: 900;
    }
    
    .hero-section-div-amount-p-engineers {
        text-align: center;
        margin-top: 0.1rem;
        font-size: 0.8rem;
    }

    .hero-section-div-elements {
        margin-top: 1rem;
    }
}

@media (1200px < width <= 6000px) {

    .my-main {
        padding-bottom: 4rem;
    }

    .hero-section-div-elements {
        margin-right: 4rem;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .hero-section-div-image {
        margin-left: 2.8rem;
        width: 29rem;
        height: 29rem;
        height: auto;
        object-fit: contain;
        margin-top: 5.8rem;
    }

    .hero-section-div-p {
        color: var(--second-color);
        font-size: 5.7rem;
        font-weight: 900;
        text-align: left;
        margin-left: 0.7rem;
        margin-top: 5.5rem;
    }
    
    .hero-section-div-p-mobile {
        display: none;
        margin-top: 0.6rem; 
        text-align: start;
        color: var(--text-color);
        font-size: 0.9rem;
        font-family: RobotoMedium;
        margin-left: 1.1rem;
        padding-right: 2rem;
    }
    
    .hero-section-div-p-tablet {
        font-family: RobotoMedium;
        margin-left: 1.1rem;
        margin-top: 0.6rem; 
        font-size: 0.4rem;
        font-weight: 400;
        text-align: start;
        color: var(--text-color);
        font-size: 0.8;
        display: none;
    }

    .hero-section-div-p-notebooks {
        font-family: RobotoMedium;
        margin-left: 1.1rem;
        margin-top: 1.8rem; 
        font-size: 0.8rem;
        font-weight: 100;
        text-align: start;
        color: var(--text-color);
      }

    .hero-section-div-p-third {
        font-size: 0.8rem;
        margin-top: 2.2rem;
        font-family: RobotoMedium;
    }
    
    .hero-section-div-button-container {
        margin-top: 3rem;
        margin-left: 1.1rem;
    }

    .hero-section-div-button {
        background-color: var(--second-color);
        color: rgb(255, 255, 255);
        font-family: MyNunito, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        font-style: normal;
        padding: 0.8rem 1.6rem;
        line-height: 20px;
        border-radius: 4px;
        text-decoration: none;
        border: none;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button:active {
        transform: scale(0.92);
    }

    .hero-section-div-button2 {
        background-color: var(--general-background);
        color: var(--text-color);;
        font-family: MyNunito, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        font-style: normal;
        padding: 0.7rem 1.2rem;
        line-height: 20px;
        border-radius: 4px;
        border: 3px solid;
        border-color: var(--second-color);
        margin-left: 0.5rem;
        text-decoration: none;
        transition: transform 0.2s ease;
        outline: none;
    }

    .hero-section-div-button2:hover {
        transform: scale(0.92);
    }

    .hero-section-div-button2:active {
        transform: scale(0.92);
    }

    .hero-section-div-image-container {
        display: flex;
    }
}