@media (max-width: 480px) {
    .overlay {
        border-image-source: linear-gradient(#dcdcdc86, #dcdcdcb4);
        border-image-slice: fill 1;
    }

    .hero-section-div {
        min-block-size: 90vh;
        background:url(../img/hero-section-imagee.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .hero-section-div-p {
        color: rgba(18, 3, 3);
        font-size:  3.3rem;
        text-align: left;
        margin-top: 3rem;
    }
    
    .hero-section-div-p-second {
        margin-top: 0.6rem; 
        text-align: start;
        margin-right: 1.2rem;
    }
    
    
    .hero-section-div-button-container {
        margin-top: 2rem;
        margin-right: 9rem;
    }

    .hero-section-div-button {
        background-color: var(--second-color);
        color: rgb(255, 255, 255);
        font-family: MyNunito, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        font-style: normal;
        padding: 0.8rem 1.6rem;
        line-height: 20px;
        border-radius: 4px;
    }

}

@media (min-width: 480px) {


    .hero-section-div-p {
        color: orange;
        margin-right: 8rem;
        font-size:  clamp(4rem, 5vw + 2rem, 7rem);
        text-align: left;
    }

}