:root {
    --white-background: #fff;
    --second-color: #f0a500;
    --general-background: #dcdcdc;
    --text-color: #000000;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/hero-section-imagee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p { margin-top: -20px; }


p {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 10px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}


.my-header {
    padding: 10px 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 60px;
    z-index: 1000;
}

.my-header-nav {
    margin-left: 100px;
    padding-right: 120px;
    align-self: center;
    width: fit-content;
    float: left;
}

.nav-menu {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    width: fit-content;
    float: left;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}


.nav-menu:link {
    text-decoration: none;
}
    
.nav-menu:visited {
    background-color: rgba(18, 3, 3, 0.155);
}

.my-logo-div{
    width: fit-content;
    display: flex;
    padding-left: 120px;
}

.my-header-logo {
    align-self: center;
}


.a-button {
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
    font-family: MyNunito, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    padding: 13px 20px;
    line-height: 60px;
    border-radius: 5px;
    margin-left: 20px;
}

.a-button:link {
text-decoration: none;
}

.a-button:visited {
text-decoration: none;
}

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url(../img/hero-section-imagee2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}
