:root {
    --white-background: #fff;
    --second-color: #f0a500;
    --general-background: #dcdcdc;
    --text-color: #222220;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    background-color: var(--general-background);
}

p { margin-top: -20px; }


p {
    font-family: Roboto, sans-serif;
    padding-top: 10px;
    color: var(--text-color);
}


.my-header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    height: 60px;
    z-index: 1000;


}

.my-header-nav {
    align-self: center;
    width: fit-content;
    float: left;
}

.nav-menu:link {
    text-decoration: none;
}
    
.nav-menu:visited {
    background-color: rgba(18, 3, 3, 0.155);
}

.my-logo-div{
    width: fit-content;
    display: flex;
    padding-right: 5rem;
}

.my-header-logo {
    align-self: center;
}


.a-button {
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
    font-family: MyNunito, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    padding: 13px 20px;
    line-height: 60px;
    border-radius: 5px;
    margin-left: 20px;
}

.a-button:link {
text-decoration: none;
}

.a-button:visited {
text-decoration: none;
}


@media (max-width: 480px) {
    .my-logo-div{
        width: fit-content;
        display: flex;
        padding-left: 40px;
    }

    .nav-menu {
        background-image: url();
        display: none;
        
    }
     
    .nav-toggle ~ .nav-menu {
        display: block;
    }
}
