:root {
    --white-background: #fff;
    --second-color: #f0a500;
    --general-background: #dcdcdc;
    --text-color: #222220;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}
 



body {
    background-color: var(--general-background);
    overflow-x: hidden;
}

p {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
}

.nav-toggle {
    display: none;
}

.my-header-nav {
    align-self: center;
    font-family: Roboto, sans-serif;
}

.nav-menu {
    margin-left: 3.8rem;
    font-size: 1.25rem;
    color: var(--text-color);
    transition: all 0.2s;
}   

.nav-menu:hover {
    color: #f0a500;
}

.nav-menu:link {
    text-decoration: none;
}
    
.nav-menu:visited {
    background-color: rgba(18, 3, 3, 0.155);
}

.my-logo-div{
    align-self: center; 
}

.my-logo-div-p {
    font-size: 2rem;
}

.my-logo-div-span {
    color: var(--second-color);
}

.burger {
    justify-content: end;
}


.a-button {
    background-color: var(--second-color);
    color: rgb(255, 255, 255);
    font-family: MyNunito, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    padding: 13px 20px;
    line-height: 60px;
    border-radius: 5px;
    margin-left: 20px;
}

.a-button:link {
text-decoration: none;
}

.a-button:visited {
text-decoration: none;
}


#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
right: 0 !important;
}
.menu__btn {
position: fixed;
top: 20px;
right: 10vw;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
margin-top: 2.7rem;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #f0a500;
transition-duration: .25s;

}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
display: block;
position: fixed;
top: 0;
right: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: #ECEFF1;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: #333;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #CFD8DC;
}


@media (max-width: 507px) {
    .my-header {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        z-index: 1000; 
        margin-top: 2.5rem;
    }

    .my-header-nav {
        display: none;
    }

    .nav-menu {
        font-size: 1rem;
        color: var(--text-color);
    }

    .my-logo-div-p{
        margin-left: 10vw;
        font-family: Roboto;
        margin-top: 0.6rem;
    }

    .nav-toggle {
        background-color: #f0a500;
    }
    
    .burger div {
        margin-right: 10vw;
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 3px;
        background-color: #f0a500;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }
    


}


@media (507px <= width <= 760px) {
    .my-header {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1000; 
        width: 100%;
        margin-top: 2.5rem;
    }


    .my-header-nav {
        margin-right: 3rem;
        display: none;
    }

    .nav-menu {
        font-size: 1rem;
        color: var(--text-color);
    }

    .my-logo-div-p{
        margin-left: 10vw;
        font-family: Roboto;
        margin-top: 0.6rem;

    }

    .nav-toggle {
        background-color: #f0a500;
    }

    .burger div {
        margin-right: 10vw;
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 3px;
        background-color: #f0a500;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }
}


@media (760px < width <= 1200px) {


    .my-header {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        z-index: 1000; 
        margin-top: 2.5rem;
    }

    .my-header-nav {
        margin-right: 5.6vw;
    }

    .my-header input,
    .my-header label {
        display: none;
    }

    .nav-menu {
        margin-left: 5vw;
        margin-left: 3.5rem;
        color: var(--text-color);
        font-size: clamp(1rem, 2vw, 1.3rem);
    }

    .my-logo-div-p{
        margin-left: 5.6vw;
        font-family: Roboto;

    }

    .nav-toggle {
        background-color: #f0a500;
    }

    .burger {
        display: none;
    }

}

@media (1200px < width <= 6000px) {
    
    .my-header input,
    .my-header label {
        display: none;
    }

    .my-header {
        background-color: transparent;
        display: flex;
        justify-content: center;
        z-index: 1000; 
        margin-top: 2.5rem;
    }

    .my-header-nav {
        margin-left: 8.7rem;
    }

    .nav-menu {
        font-size: 1.3rem;
        color: var(--text-color);
    }

    .my-logo-div-p{
        margin-right: 19rem;
        font-family: Roboto;

    }

    .nav-toggle {
        background-color: #f0a500;
    }
}
