

.header-title {
    margin: 0;
    font-size: 2.5em;
    font-family: RobotoMedium;
    color: #fff;
}

.header-location {
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.5em;
    color: #fff;
    font-family: RobotoMedium;
}

.breadcrumb-nav {
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 0.9em;
}

.breadcrumb-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumb-nav li {
    margin-right: 10px;
}

.breadcrumb-nav li::after {
    content: '>';
    margin-left: 10px;
}

.breadcrumb-nav li:last-child::after {
    content: '';
}

.breadcrumb-nav a {
    text-decoration: none;
    color: #333;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    
}

.main-content-text  {
    max-width: 1110px;
}

.first-main-content-p {
    max-width: 1110px;
    font-family: RobotoMedium;
    font-size: 1.6rem;
}

.second-main-content-p {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: RobotoMedium;  
}


@media (max-width: 1200px) {
    .main-content-text  {
        padding: 0 5.4vw;
    }
}

@media (max-width: 760px) {

    .main-content-text  {
        padding: 0 10vw;
    }
}

@media (max-width: 490px) {

    .main-content-text  {
        padding: 0 10vw;
    }

}