


.second-section {
    background-color: #14213D;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.second-section-div {
    display: flex;
    justify-content: space-between;
}

.second-section-text-div {
    margin-top: clamp(1rem, 4vh, 8rem);
    margin-right: 5.8vw;
}

.second-section-text-div-divider {
    background-color: #fff;
    height: clamp(0.2rem, 0.6vw, 1rem);
    width: clamp(0.8rem, 7vw, 8rem);
    margin-bottom: clamp(0.5rem, 3vw, 4rem);
    margin-top: 0;
}

.second-section-text-div-first-p {
    font-size: clamp(1rem, 4vw, 4rem);
    color: #fff;
    font-weight: 500;
    margin-bottom: clamp(0.5rem, 3vw, 4rem);
}

.second-section-text-div-second-p {
    font-family: RobotoMedium;
    font-size: clamp(0.2rem, 1vw, 1rem);
    color: #b9b9b9;
    font-weight: 300;
    margin-bottom: clamp(0.5rem, 3vw, 4rem);

}

.second-section-image-div {
    margin-top: 0;
    margin-left: 5.3vw;
}

.second-section-image {
    width: clamp(10rem, 38vw, 31rem);
    height: clamp(10rem, 38vw, 31rem);
}

.second-section-text-div-containers {
    display: flex;
}

.second-section-text-div-containers-num-p {
    color: #fff;
    font-size: clamp(1rem, 4vw, 4rem);

}

.second-section-text-div-containers-text-p {
    margin-top: 0.7rem;
    color: #b9b9b9;
    font-size: clamp(0.2rem, 1vw, 1rem);
}

.second-section-text-div-containers-divs {
    max-width: 10rem;
    margin-right: clamp(2rem, 7vw, 7rem);
}

.second-section-text-div-containers-divs1 {
    max-width: 10rem;
    margin-right: 0;
}

.second-section-text-div-second-p-mobile {
    display: none;
}

@media (max-width: 760px) {

    .second-section {
        background-color: #14213D;
        padding-top: 10vh;
        padding-bottom: 5vh;
        display: flex;
        justify-content: center;
    }


    .second-section-div {
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }

    .second-section-text-div {
        max-width: 50rem;
        margin: 0;
    }

    
    .second-section-text-div-divider {
        background-color: #fff;
        height: clamp(0.2rem, 1vw, 1rem);
        width: clamp(0.8rem, 12vw, 15rem);
        margin-bottom: clamp(0.5rem, 6vw, 4rem);
    }
    
    .second-section-text-div-first-p {
        font-size: clamp(1rem, 7vw, 4rem);
        margin-bottom: clamp(0.5rem, 6vw, 4rem);
    }
    
    .second-section-text-div-second-p {
        font-family: RobotoMedium;
        font-size: clamp(0.4rem, 2.4vw, 51rem);
        margin-bottom: clamp(0.5rem, 6vw, 4rem);
    }

    
    .second-section-image {
        width: clamp(14rem, 80vw, 60rem);
        height: clamp(14rem, 80vw, 60rem);
        margin-left: 4.7vw;
        margin: 0;
    }
    

    .second-section-image-div {
        margin-right: 0;
        margin-left: 0;     
        margin-bottom: clamp(0.5rem, 8vw, 4rem);
    }
    
    
    .second-section-text-div-containers {
        display: flex;
        margin-bottom: clamp(0.5rem, 10vw, 4rem);
    }
    
    .second-section-text-div-containers-num-p {
        color: #fff;
        font-size: clamp(1rem, 8vw, 4rem);
    
    }
    
    .second-section-text-div-containers-text-p {
        margin-top: 0.7rem;
        font-size: clamp(0.2rem, 2vw, 1rem);
    }

}


@media (1200px < width <= 6000px) {
    .second-section {
        display: flex;
        justify-content: center;
        height: 30rem;
    }

    .second-section-div {
        margin: 0;
    }
    
    .second-section-text-div {
        margin-top: 3rem;
        padding: 0;
        margin-right: 0;
        margin-left: 7.3rem;
    }

    .second-section-image-div {
        margin-top: 0;
        margin: 0;
    }


    .second-section-text-div-containers-num-p {
        color: #fff;
        font-size: 3rem;
    }

    .second-section-text-div-containers-text-p {
        margin-top: 0.7rem;
        font-size: 0.9rem;
    }

    .second-section-text-div-containers-divs {
        margin-right: 4.7rem;
    }

    .second-section-text-div-second-p {
        margin-bottom: 2.5rem;
    }
    
    .second-section-text-div-first-p {
        margin-bottom: 2.5rem;
        font-size: 3rem;
        color: #fff;
        font-weight: 500;
    }

    .second-section-text-div-divider {
        margin-bottom: 2.5rem;
        margin-top: 0;
    }
    
    .second-section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }


    .second-section-image {
        width: 29rem;
        height: 29rem;
    }

    .second-section-text-div-divider {
        height: 0.5rem;
        width: 6rem;
    }

}

