


.second-grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: clamp(1rem, 10vw, 15rem);
    gap: 4vw;  
}


.second-grid-p {
    color: #fff;
}