
.third-section {
    background-color: #9FE7F5;
    background-image: url(../img/third-section-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-bottom: 5rem;
}

.third-section-text-div-divider {
    background-color: var(--second-color);
    height: clamp(0.2rem, 0.6vw, 1rem);
    width: clamp(0.8rem, 7vw, 8rem);
    margin-bottom: clamp(0.5rem, 2vw, 4rem);
    margin-top: 5rem;
}

.overlay2 {
    border-image-source: linear-gradient(#ffffffa4, #beb4b4a4);
    border-image-slice: fill 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    margin: 0 auto; 
    max-width: 1108px; 
    padding: 0 20px; 
}

.item {
    background: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.item1 {
    grid-area: 1 / 1 / 2 / 4;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 5.4vw;
    }

    .item1 {
        grid-area: 1 / 1 / 2 / 4;
    }
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
        padding: 0 50px; 
    }

    .item1 {
        grid-area: 1 / 1 / 2 / 3;
    }
}

@media (max-width: 760px) {
    .container {
        grid-template-columns: 1fr; 
        padding: 0 10vw; 
    }

    .item {
        padding: 20px;
    }

    .item1 {
        grid-area: 1 / 1 / 2 / 2;
    }
}



.grid-inner-div {
    background-color: #f4f2ef;
    box-sizing: border-box;
}

.grid-div-place-p {
    font-size: clamp(0.2rem, 1vw, 1.3rem);
    color: #3c3c3a;
}

.grid-date-div {
    display: flex;
    justify-content: space-between;
}   

.grid-div-data-p {
    margin-top: 0.5rem;
    font-size: clamp(0.2rem, 1.2vw, 1.3rem);
    color: #3c3c3a;
}

.grid-div-first-p {
    font-size: clamp(2rem, 3vw, 4rem);
}

.grid-div-third-p {
    font-size: clamp(0.8rem, 1.6vw, 1.6rem);
    margin-top: clamp(0.5rem, 3vh, 2rem);
    color: #3c3c3a;
}

.grid-inner-div-fourth {
    background-color: #f4f2ef;
}

.grid-inner-first-div {
    grid-area: 1 / 1 / 2 / 4;
}


.grid-div-img {
    width: 100%;
    aspect-ratio: 1.8 / 1;
    object-fit: cover;

}

.grid-div-p {
    margin-top: clamp(1rem, 2vw, 1.5rem);
    font-size: clamp(0.5rem, 1.8vw, 3rem);
}

.grid-div-button {
    background-color: transparent;
    color: var(--second-color);
    font-family: RobotoMedium, sans-serif;
    font-size: clamp(1rem, 1.5vw, 2rem);
    border: 2px solid;
    border-radius: 4px;
    padding: clamp(0.1rem, 0.2vw, 1rem) clamp(1rem, 2vw, 2rem);  
    cursor: pointer;
    transition: transform 0.2s ease;
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 0;
}

.grid-div-button:hover {
    transform: scale(0.92);
}

@media (1200px < width <= 6000px) {
    .grid-div-p {
        font-size: 1.7rem;
    }

    .grid-div-data-p {
        margin-top: 1rem;
        font-size: 1.05rem;
    }

    .grid-div-place-p {
        margin-top: 1.5rem;
        font-size: 1rem;
    }

    .grid-div-button {
        padding: 0.5rem, 0.8rem;  
        font-size: 1.5rem;
    }

    .third-section-text-div-divider {
        height: 0.5rem;
        width: 6rem;
    }
    
}

@media (900px < width <= 1200px) {

    .grid-div-third-p {
        font-size: clamp(0.8rem, 1.8vw, 1.6rem);
        margin-top: clamp(0.5rem, 2vh, 2rem);
    }

    .grid-div > :nth-child(5) {
        display: none; 
    }

    .grid-div > :nth-child(6) {
        display: none; 
    }


    .third-section-text-div-divider {
        height: clamp(0.2rem, 0.6vw, 1rem);
        width: clamp(0.8rem, 7vw, 8rem);
        margin-bottom: clamp(1rem, 1.7vh, 5rem);
    }

    .grid-inner-first-div {
        grid-area: 1 / 1 / 2 / 3;
    }

    .grid-div-p {
        font-size: clamp(0.5rem, 2.08vw, 3rem);
        gap: 4vw;  
    }

    .grid-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-div-place-p {
        font-size: clamp(0.6rem, 1.3vw, 1.3rem);
        margin-top: clamp(1rem, 1.7vh, 5rem);
    }

    .grid-div-data-p {
        margin-top: clamp(1rem, 1.7vh, 5rem);
        font-size: clamp(0.6rem, 1.5vw, 1.3rem);
    }

    .grid-div-button {
        margin-top: clamp(0.3rem, 1vh, 2rem);
    }
    
}

@media (max-width: 900px) {
    .grid-div-third-p {
        font-size: clamp(0.8rem, 1.8vw, 1.6rem);
        margin-top: clamp(0.5rem, 2vh, 2rem);
    }

    .grid-div > :nth-child(5) {
        display: none; 
    }

    .grid-div > :nth-child(6) {
        display: none; 
    }


    .third-section-text-div-divider {
        height: clamp(0.3rem, 0.9vw, 1rem);
        width: clamp(4rem, 9vw, 10rem);
        margin-bottom: clamp(1rem, 1.7vh, 5rem);
    }

    .grid-inner-first-div {
        grid-area: 1 / 1 / 2 / 3;
    }

    .grid-div-p {
        font-size: clamp(0.5rem, 3vw, 3rem);
        gap: 4vw;  
    }

    .grid-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-div-place-p {
        font-size: clamp(0.6rem, 2vw, 1.3rem);
        margin-top: clamp(1rem, 2vh, 5rem);
    }

    .grid-div-data-p {
        margin-top: clamp(1rem, 2.4vh, 5rem);
        font-size: clamp(0.6rem, 1.8vw, 1.3rem);
    }

    .grid-div-button {
        margin-top: clamp(0.3rem, 1vh, 2rem);
        padding: clamp(0.1rem, 0.6vw, 1rem) clamp(1rem, 3vw, 2rem);  
        font-size: clamp(1rem, 2.5vw, 4rem);
    }
}

@media (max-width: 760px) {

    .grid-div > :nth-child(4) {
        display: none; 
    }

    .grid-div > :nth-child(5) {
        display: none; 
    }

    .grid-div > :nth-child(6) {
        display: none; 
    }

    .grid-div-third-p {
        font-size: clamp(0.8rem, 2vw, 1.6rem);
        margin-top: clamp(0.5rem, 2vh, 2rem);
    }

    .grid-div > :nth-child(5) {
        display: none; 
    }

    .grid-div > :nth-child(6) {
        display: none; 
    }


    .third-section-text-div-divider {
        height: clamp(0.2rem, 1vw, 1rem);
        width: clamp(0.8rem, 12vw, 15rem);
        margin-bottom: clamp(1rem, 1.7vh, 5rem);
    }

    .grid-inner-first-div {
        grid-area: 1 / 1 / 2 / 3;
    }

    .grid-div-p {
        font-size: clamp(0.5rem, 4vw, 3rem);
        gap: 4vw;  
    }

    .grid-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-div-place-p {
        font-size: clamp(0.6rem, 2.3vw, 1.3rem);
        margin-top: clamp(1rem, 2vh, 5rem);
    }

    .grid-div-data-p {
        margin-top: clamp(1rem, 2.4vh, 5rem);
        font-size: clamp(0.6rem, 2.5vw, 1.3rem);
    }

    .grid-div-button {
        margin-top: clamp(0.3rem, 1.4vh, 2rem);
        padding: clamp(0.1rem, 1vw, 1rem) clamp(1rem, 4vw, 2rem);  
        font-size: clamp(1rem, 2.5vw, 4rem);
    }
    
}

@media (max-width: 500px) {

    .grid-div-p {
        font-size: clamp(0.5rem, 5.5vw, 3rem);
    }

    
    .grid-div-place-p {
        font-size: clamp(0.6rem, 2.8vw, 1.3rem);
        margin-top: clamp(1rem, 2vh, 5rem);
    }

    .grid-div-data-p {
        margin-top: clamp(1rem, 2.4vh, 5rem);
        font-size: clamp(0.6rem, 3.3vw, 1.3rem);
    }

    .item {
        padding: 15px;
    }


}